@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.card-img-top, .logo-tamaño {
  height: 100%;
  max-width: 150px;
  max-height: 100%;
}

h1 {
  color: rgb(199, 5, 5);
  font-style: oblique;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  font-size: 24px;
}

h2 {
  text-align: center;
  margin: 10px;
  background-color: firebrick;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}

.logo-tamaño {
  /*height: 100%;
  max-width: 150px;
  max-height: 100%;*/
}

.fondo-bordo {
  background-color: firebrick;
  font-style: oblique;
  font-family: "Times New Roman", Times, serif;
}

.boton-color:hover {
  background-color: wheat;
}

.cambio-tamaño {
  font-size: larger;
  font-weight: 800;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}

header {
  position: sticky;
  top: 0;
  padding: 5px;
  z-index: 100;
}
header .header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: none;
  justify-content: space-between;
  /*display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;*/
  flex-direction: column;
}
header .header-container ul.header-navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: none;
  justify-content: space-between;
  /*display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;*/
  flex-direction: column;
  padding: 10px 0;
}
header .header-container ul.header-navigation li {
  list-style: none;
  margin: 0 10px;
}
header .header-container ul.header-navigation .logo {
  display: flex;
  align-items: center;
}
header .header-container ul.header-navigation a {
  text-decoration: none;
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}

section .carousel.slide.carousel-fade {
  max-width: 1280px;
  margin: auto;
}
section .carousel.slide.carousel-fade .d-block {
  height: 900%;
  max-width: 800px;
  max-height: 900%;
}
section .carousel.slide.carousel-fade .carousel-control-prev .carousel-control-prev-icon {
  background: red;
  padding: 10px;
}
section .carousel.slide.carousel-fade .carousel-control-next .carousel-control-next-icon {
  background: red;
  padding: 10px;
}

nav a img {
  margin-right: 10px;
}

.boton-color:hover {
  background-color: wheat;
}

.card-img-top {
  /*height: 100%;
  max-width: 150px;
  max-height: 100%;*/
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 10px;
}

.grid-item {
  font-style: oblique;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}

.card-img-top {
  height: 100%;
  max-width: 470px;
  max-height: 100%;
}

.formulario-color {
  background-color: wheat;
  font-family: "Times New Roman", Times, serif;
}

.logo-color {
  font-size: 20px;
  color: black;
}

@media (min-width: 768px) {
  header .header-container {
    flex-direction: row;
  }
}
@media (min-width: 768px) {
  header .header-navigation {
    flex-direction: row;
  }
}
@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/*# sourceMappingURL=estilos.css.map */
