h1{
    color: red;
    font-style: oblique;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 24px;
   }
   
   h2{
    text-align: center;
    margin: 10px;
    background-color: firebrick;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    }
    .logo-tamaño{
      height: 100%;
      max-width: 150px;
      max-height: 100%;
      }

  

.fondo-bordo{
 background-color: firebrick;
 font-style: oblique;
 font-family: 'Times New Roman', Times, serif;
 }

 .boton-color:hover{
    background-color: wheat;
    }
    .cambio-tamaño{
        font-size: larger;
        font-weight: 800;
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
        }
       