@media (min-width: 768px) {
    header .header-container {
       flex-direction: row;
    }
 }
 @media (min-width: 768px) {
    header .header-navigation {
       flex-direction: row;
    }
 }
 @media (min-width: 768px) {
    .grid-container {
       grid-template-columns: 1fr 1fr 1fr;
    }
 }