header {
  position: sticky;
  top: 0;
  padding: 5px;
  z-index: 100;

    .header-container {
      @include flex(row, center, space-between, none);
      /*display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;*/
      flex-direction: column;
    
     ul.header-navigation {
       @include flex(row, center, space-between, none);
      /*display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;*/
      flex-direction: column;
      padding: 10px 0; 

      li {
        list-style: none;
        margin: 0 10px;
      }

      .logo {
        display: flex;
        align-items: center;
      }

      a {
        text-decoration: none;
        color: black;
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px; 
      }
    }
    } 
    }
 
 